@{
    ViewData["Title"] = "Inicio";
}

<h1>Gestión de Fichajes QR</h1>
<div>
    <a class="btn btn-primary" asp-controller="Empleados" asp-action="Index">Ver Empleados</a>
    <!-- Añade más botones según necesites -->
</div>
